@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
	--font-sans: "Inter", sans-serif;
	--font-serif: "Instrument Serif", serif;
}

@layer utilities {
	.animate-gradient {
		background-size: 400% 400%;
		animation: gradientShift 15s ease infinite;
	}
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}